* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: 'Playfair Display', serif;
}

.wrapper {
    width: 900px;
    margin: 0 auto; 
  }

li{
    list-style: none;
}

.header{
    padding: 76px 0 0 0;
    margin-bottom: 103px;
}

.nav-list{
    text-align: center;
    font-size: 0;
}

.list-item{
    display: inline-block;    
    margin: 0 120px 0 0;
}
.list-item-r{
    margin-right: 0;
}
.nav-link{
    text-decoration: none;
    color: #626262;
    font-size: 14px;    
}
.nav-link:hover{
    color: #03a9f4
}

.article-list{
    font-size: 0px;
}

.article-item{
    display: inline-block;
    width: 420px;
    font-size: 14px;
    margin: 0 0 133px 0;
}

.article-item-r{
    margin-right: 60px;
    /* margin-right: calc(900px -420px * 2 - 12px); */
}

.article-item-bottom{
    margin-bottom: 0px;
}

.article-image{
    margin-bottom: 30px;
}

.article-headline{
    margin: 0 0 30px 0;
    color: #b4ad9e;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    
}

.article-title{
    margin: 0 0 40px 0;
    color: #626262;
    font-size: 30px;
}

.article-text{
    color: #626262;
    font-size: 14px;
}

/* .article-text-b{
    margin: 0 0 53px 0;
} */
.button{
}

button{
    color: #626262;
    width: 162px;
    height: 58px;
    outline: none; 
    cursor: pointer; 
    background-color: transparent; 
    border: 2px solid grey; 
    font-size: 20px;
    display: block;
    margin: auto; 
    margin-top: 53px;
    margin-bottom: 69px; 
  }